Repository mrcaidev/intelligent-logistics: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache",
    "prettier --write --cache"
  ],
  "*.{json,md}": "prettier --write --cache"
}

refactor(backend): improve code quality
  apps/backend/src/app.ts
  apps/backend/src/bootstrap.ts
  apps/backend/src/edge/repository.ts
  apps/backend/src/edge/service.ts
  apps/backend/src/edge/types.ts
  apps/backend/src/good/controller.ts
  apps/backend/src/good/repository.ts
  apps/backend/src/good/service.ts
  apps/backend/src/good/types.ts
  apps/backend/src/graph/controller.ts
  apps/backend/src/graph/service.ts
  apps/backend/src/middlewares/handle-error.ts
  apps/backend/src/node/controller.ts
  apps/backend/src/node/repository.ts
  apps/backend/src/node/router.ts
  apps/backend/src/node/service.ts
  apps/backend/src/node/types.ts
  apps/backend/src/utils/database.ts
  apps/backend/tests/edge.test.ts
  apps/backend/tests/global.setup.ts
  apps/backend/tests/good.test.ts
  apps/backend/tests/node.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(frontend): adapt to new backend
  apps/frontend/src/app.tsx
  apps/frontend/src/components/good-scheduler/card.tsx
  apps/frontend/src/components/good-scheduler/create-form.tsx
  apps/frontend/src/components/good-scheduler/dispatcher.tsx
  apps/frontend/src/components/good-scheduler/remover.tsx
  apps/frontend/src/components/good-scheduler/update-form.tsx
  apps/frontend/src/components/graph-manager/create-form.tsx
  apps/frontend/src/components/graph-manager/remover.tsx
  apps/frontend/src/components/graph-manager/update-form.tsx
  apps/frontend/src/components/graph/graph.tsx
  apps/frontend/src/hooks/use-edges.ts
  apps/frontend/src/hooks/use-nodes.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix(frontend): misleading graph hint
  apps/frontend/src/components/graph/graph.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(frontend): show path id one by one
  apps/frontend/src/components/graph/graph.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(frontend): auto reset actives
  apps/frontend/src/components/graph/graph.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(frontend): create edge and node controller
  apps/frontend/src/app.tsx
  apps/frontend/src/components/graph/controller.tsx
  apps/frontend/src/components/graph/create-edge-form.tsx
  apps/frontend/src/components/graph/create-node-form.tsx
  apps/frontend/src/components/graph/edge-creator.tsx
  apps/frontend/src/components/graph/index.ts
  apps/frontend/src/components/graph/node-creator.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix(frontend): fetcher return type
  apps/frontend/src/components/graph/create-edge-form.tsx
  apps/frontend/src/components/graph/create-node-form.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(frontend): finish node and edge crud
  apps/frontend/src/components/graph/edge-remover.tsx
  apps/frontend/src/components/graph/edge-updater.tsx
  apps/frontend/src/components/graph/graph.tsx
  apps/frontend/src/components/graph/node-remover.tsx
  apps/frontend/src/components/graph/node-updater.tsx
  apps/frontend/src/components/graph/update-edge-form.tsx
  apps/frontend/src/components/graph/update-node-form.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(frontend): change component names
  apps/frontend/src/components/good-scheduler/creator-form.tsx
  apps/frontend/src/components/good-scheduler/scheduler.tsx
  apps/frontend/src/components/good-scheduler/updater-form.tsx
  apps/frontend/src/components/good-scheduler/updater.tsx
  apps/frontend/src/components/graph-manager/creator-form.tsx
  apps/frontend/src/components/graph-manager/manager.tsx
  apps/frontend/src/components/graph-manager/updater-form.tsx
  apps/frontend/src/components/graph-manager/updater.tsx
  apps/frontend/src/components/graph/edge-creator-form.tsx
  apps/frontend/src/components/graph/edge-creator.tsx
  apps/frontend/src/components/graph/edge-updater-form.tsx
  apps/frontend/src/components/graph/edge-updater.tsx
  apps/frontend/src/components/graph/node-creator-form.tsx
  apps/frontend/src/components/graph/node-creator.tsx
  apps/frontend/src/components/graph/node-updater-form.tsx
  apps/frontend/src/components/graph/node-updater.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(frontend): extract mutation hooks
  apps/frontend/src/components/good-scheduler/creator-form.tsx
  apps/frontend/src/components/good-scheduler/dispatcher.tsx
  apps/frontend/src/components/good-scheduler/remover.tsx
  apps/frontend/src/components/good-scheduler/updater-form.tsx
  apps/frontend/src/components/graph-manager/creator-form.tsx
  apps/frontend/src/components/graph-manager/remover.tsx
  apps/frontend/src/components/graph-manager/updater-form.tsx
  apps/frontend/src/components/graph/edge-creator-form.tsx
  apps/frontend/src/components/graph/edge-remover.tsx
  apps/frontend/src/components/graph/edge-updater-form.tsx
  apps/frontend/src/components/graph/node-creator-form.tsx
  apps/frontend/src/components/graph/node-remover.tsx
  apps/frontend/src/components/graph/node-updater-form.tsx
  apps/frontend/src/hooks/use-mutation.ts
  apps/frontend/src/utils/fetch.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(frontend): remove unused mutator function
  apps/frontend/src/utils/fetch.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(frontend): better fetcher
  apps/frontend/src/utils/fetch.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

perf(frontend): use reducer to manage global state
  apps/frontend/src/components/good-scheduler/dispatcher.tsx
  apps/frontend/src/components/graph-manager/card.tsx
  apps/frontend/src/components/graph/graph.tsx
  apps/frontend/src/components/sidebar/toggler.tsx
  apps/frontend/src/contexts/global-state.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

perf(frontend): modal useEffect
  apps/frontend/src/components/modal.tsx
  apps/frontend/src/hooks/use-boolean.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(frontend): seperate edge controllers
  apps/frontend/src/components/edge/create-button.tsx
  apps/frontend/src/components/edge/create-form.tsx
  apps/frontend/src/components/edge/index.ts
  apps/frontend/src/components/edge/remove-button.tsx
  apps/frontend/src/components/edge/update-button.tsx
  apps/frontend/src/components/edge/update-form.tsx
  apps/frontend/src/components/graph/controller.tsx
  apps/frontend/src/components/graph/graph.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(frontend): seperate node controllers
  apps/frontend/src/components/graph/controller.tsx
  apps/frontend/src/components/graph/graph.tsx
  apps/frontend/src/components/node/create-button.tsx
  apps/frontend/src/components/node/create-form.tsx
  apps/frontend/src/components/node/index.ts
  apps/frontend/src/components/node/remove-button.tsx
  apps/frontend/src/components/node/update-button.tsx
  apps/frontend/src/components/node/update-form.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(frontend): canvas logic
  apps/frontend/src/app.tsx
  apps/frontend/src/components/canvas/canvas.tsx
  apps/frontend/src/components/canvas/container.tsx
  apps/frontend/src/components/canvas/index.ts
  apps/frontend/src/components/canvas/theme.ts
  apps/frontend/src/components/canvas/use-actives.ts
  apps/frontend/src/components/graph/controller.tsx
  apps/frontend/src/components/graph/index.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

style(frontend): baseurl import
  apps/frontend/src/components/canvas/canvas.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

style(frontend): destructure edge and node
  apps/frontend/src/components/edge/update-form.tsx
  apps/frontend/src/components/node/update-form.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(frontend): rename good-scheduler to good
  apps/frontend/src/app.tsx
  apps/frontend/src/components/good-scheduler/index.ts
  apps/frontend/src/components/good/card.tsx
  apps/frontend/src/components/good/create-form.tsx
  apps/frontend/src/components/good/deliver-button.tsx
  apps/frontend/src/components/good/index.ts
  apps/frontend/src/components/good/list.tsx
  apps/frontend/src/components/good/manager.tsx
  apps/frontend/src/components/good/remove-button.tsx
  apps/frontend/src/components/good/update-button.tsx
  apps/frontend/src/components/good/update-form.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(frontend): rename graph-manager to graph
  apps/frontend/src/app.tsx
  apps/frontend/src/components/graph/card.tsx
  apps/frontend/src/components/graph/create-form.tsx
  apps/frontend/src/components/graph/index.ts
  apps/frontend/src/components/graph/list.tsx
  apps/frontend/src/components/graph/manager.tsx
  apps/frontend/src/components/graph/remove-button.tsx
  apps/frontend/src/components/graph/update-button.tsx
  apps/frontend/src/components/graph/update-form.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(frontend): add border to graph card
  apps/frontend/src/components/graph/card.tsx
  apps/frontend/src/components/graph/list.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(frontend): return to first graph on graph deletion
  apps/frontend/src/components/graph/remove-button.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

style(frontend): class names order
  apps/frontend/src/components/good/card.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(frontend): rename activeIds to activePath
  apps/frontend/src/components/canvas/use-actives.ts
  apps/frontend/src/components/good/deliver-button.tsx
  apps/frontend/src/contexts/global-state.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(frontend): provide default generic type
  apps/frontend/src/hooks/use-mutation.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

test(backend): remove backend tests
  apps/backend/tests/edge.test.ts
  apps/backend/tests/global.setup.ts
  apps/backend/tests/good.test.ts
  apps/backend/tests/graph.test.ts
  apps/backend/tests/node.test.ts
  apps/backend/tests/root.test.ts
  vitest.workspace.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore: bump dependencies
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/database-manager/package.json
  packages/delivery-scheduler/package.json
  packages/sql-parser/package.json
  pnpm-lock.yaml
Due: prettier --write --cache

fix(backend): remove top level await
  apps/backend/src/app.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix: broken lockfile
  pnpm-lock.yaml
Due: none

build: containerize with docker
  .dockerignore
  Dockerfile
Due: none

build: simplify docker command
  Dockerfile
Due: none

build: revert last commit
  Dockerfile
Due: none

build: change build filter
  Dockerfile
Due: none

build: use node to execute bundle in CMD
  Dockerfile
Due: none

refactor(frontend): useCanvas
  apps/frontend/src/components/canvas/canvas.tsx
  apps/frontend/src/components/canvas/use-actives.ts
  apps/frontend/src/components/canvas/use-canvas.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(frontend): extract ready ui
  apps/frontend/src/components/canvas/canvas.tsx
  apps/frontend/src/components/canvas/ready.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix(frontend): show create buttons when there is no nodes
  apps/frontend/src/components/canvas/canvas.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(frontend): vercel silent deploying
  apps/frontend/vercel.json
Due: prettier --write --cache

fix(frontend): show ready ui when no graph exists
  apps/frontend/src/components/canvas/canvas.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache
