Repository mrcaidev/intelligent-logistics: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache",
    "prettier --write --cache"
  ],
  "*.{json,md}": "prettier --write --cache"
}

chore(frontend): change graph Chinese name
  apps/frontend/src/components/canvas/ready.tsx
  apps/frontend/src/components/good/list.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix(frontend): allow non-negative number only
  apps/frontend/src/components/edge/create-form.tsx
  apps/frontend/src/components/edge/update-form.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix(frontend): more careful ui showing
  apps/frontend/src/components/canvas/canvas.tsx
  apps/frontend/src/components/canvas/use-canvas.ts
  apps/frontend/src/components/edge/create-button.tsx
  apps/frontend/src/components/graph/remove-button.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(database-manager): better semaphore implementation
  packages/database-manager/src/semaphore.ts
  packages/database-manager/tests/semaphore.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(database-manager): replace guard with lock manager
  packages/database-manager/src/guard.ts
  packages/database-manager/src/lock.ts
  packages/database-manager/src/manager.ts
  packages/database-manager/tests/lock.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix(database-manager): always release locks
  packages/database-manager/src/manager.ts
  packages/database-manager/src/validator.ts
  packages/database-manager/tests/manager.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore: better gitignore
  .gitignore
Due: none

fix(backend): new database manager implementation
  apps/backend/src/utils/database.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore: bump dependencies
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/database-manager/package.json
  packages/delivery-scheduler/package.json
  packages/sql-parser/package.json
  pnpm-lock.yaml
Due: prettier --write --cache

chore: polish up tsconfig
  tsconfig.base.json
  tsconfig.json
Due: prettier --write --cache

chore: rename good and graph
  packages/delivery-scheduler/src/dijkstra.ts
  packages/delivery-scheduler/src/index.ts
  packages/delivery-scheduler/src/priority.ts
  packages/delivery-scheduler/tests/dijkstra.test.ts
  packages/delivery-scheduler/tests/priority.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

test: use turbo to run tests
  package.json
  packages/database-manager/package.json
  packages/delivery-scheduler/package.json
  packages/sql-parser/package.json
  pnpm-lock.yaml
  turbo.json
  vitest.workspace.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

ci: add codeql and test actions
  .github/workflows/codeql.yml
  .github/workflows/test.yml
Due: none

chore: bump dependencies
  apps/backend/package.json
  apps/frontend/package.json
  packages/database-manager/package.json
  packages/delivery-scheduler/package.json
  packages/sql-parser/package.json
  pnpm-lock.yaml
Due: prettier --write --cache

refactor: use number enum
  packages/sql-parser/src/lexer.ts
  packages/sql-parser/src/parser.ts
  packages/sql-parser/src/token.ts
  packages/sql-parser/tests/lexer.test.ts
  packages/sql-parser/tests/parser.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

docs: complete README
  README.md
Due: prettier --write --cache

test(backend): add backend tests
  apps/backend/package.json
  apps/backend/tests/edge.test.ts
  apps/backend/tests/global.setup.ts
  apps/backend/tests/good.test.ts
  apps/backend/tests/graph.test.ts
  apps/backend/tests/node.test.ts
  apps/backend/tests/root.test.ts
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

test: remove backend tests
  apps/backend/package.json
  apps/backend/tests/edge.test.ts
  apps/backend/tests/global.setup.ts
  apps/backend/tests/good.test.ts
  apps/backend/tests/graph.test.ts
  apps/backend/tests/node.test.ts
  apps/backend/tests/root.test.ts
  apps/backend/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore: upload report
  report.pdf
Due: none

chore: add cover for report
  report.pdf
Due: none
